@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat+Alternates&display=swap');

*{
    margin:0;
    padding:0;
}


html{
    font-size : 5vmin;
    font-family: 'Homemade Apple', cursive;

}

body{
    min-height:100vh;
    background : url(gfx/jungle.png);
    background-size:cover;
    background-position: bottom;

    display:flex;
    align-items: center;
    justify-content: left;
}



main#playground{

    margin-left: 68vmin;
    

    
}

main#playground #score{
    position : absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight:bold;
    color:gold;
    top: 1em;
    left:1em;

}


main#playground #lives{
    position : absolute;
    top: 1em;
    right:1em;

}
main#playground #lives span{
    display:inline-block;
    width:2em;
    height:1em;
    margin-left:0.5em;
    background:url(gfx/ptero.png);
    background-size: contain;
}


main#playground h1{
    font-size: 1em;
}

main#playground #blackboard{
    text-align:center;
    background:black;
    color: whitesmoke;
    padding : 0.5rem;
    width:calc( 50vh * 1.5 );
    height:50vh;
    border-radius: 1em;
    border:1em solid goldenrod;


    display:flex;
    align-items: center;
    justify-content: center;

    position:relative;
    
    
}

main#playground #blackboard *{
    transform: rotate(-10deg);
}

main#playground #blackboard p#calcul{
    transform: rotate(-2deg);
    font-size:1.5rem;
}

main#playground #blackboard button{
    position:absolute;
    bottom: 2em;
    right:2em;

    transform: rotate(-5deg);

    border:none;
    background:transparent;
    font-family: 'Homemade Apple', cursive;
    color:white;
    font-size:0.7rem;
    cursor : pointer;
    color:greenyellow;
}
main#playground #blackboard button::after{
    content:" ==>"
}

body::after{
    content:"";
    display: block;
    position:fixed;
    bottom : 1em;
    left: .1em;
    height: 70vmin;
    width: 70vmin;
    background:url(gfx/dino.png) no-repeat;
    background-size:contain;
    z-index:1000;
}

#clavier>button{

    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    display:inline-block;
    width:3.5vw;
    height:3vw;
    background:url('gfx/caillou.png') no-repeat center center;
    background-size:contain;
    color:white;
    text-indent:1em;

}
